.App {
  text-align: center;
}

.container{
  margin-top: 40px;
}

.subtitlePredicted{
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 20px;
}

.subtitlePredicted_inner{
  font-weight: 600;
}

.subtitlePredicted_inner_result{
  font-weight: 100;
  margin-left: 10px;
}
